@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.primary {
  width: auto;
  height: auto;
  padding: 5px 20px;
  margin-left: 40px;
  border-radius: 7px;
  border: 1px solid green;
  background: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.primary:hover {
  background: green;
  color: white;
}

.container {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update {
  width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid green;
  border-radius: 15px;
  padding: 60px 15px 15px;
  margin-top: 40px;
}

.update::before {
  content: "Добавить нового персонажа";
  position: absolute;
  background: white;
  font-size: 24px;
  margin-top: -90px;
  margin-left: -600px;
  padding: 10px;
}

.update input {
  width: 800px;
  height: auto;
  padding: 10px 15px;
  border-radius: 7px;
  margin-bottom: 15px;
  border: 1px solid green;
}

.update div {
  display: flex;
  justify-content: end;
}

/* .update div button {
  width: auto;
  height: auto;
  padding: 5px 20px;
  border-radius: 7px;
  border: 1px solid green;
  background: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.update div button:hover {
  background: green;
  color: white;
} */

.list-characters {
  width: 1200px;
  height: auto;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character {
  width: 800px;
  height: auto;
  padding: 10px 15px;
  display: flex;
  border-radius: 7px;
  border: 1px solid green;
  margin-top: 15px;
}

.images img {
  width: 250px;
  height: 250px;
  border-radius: 7px;
  object-fit: cover;
}

.info {
  margin-left: 150px;
  margin-top: 40px;
}

.danger {
  width: auto;
  height: auto;
  padding: 5px 20px;
  margin-top: 10px;
  border-radius: 7px;
  border: 1px solid red;
  background: red;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.danger:hover {
  background: rgb(173, 2, 2);
}

.a-list {
  text-decoration: none;
  font-size: 24px;
  color: green;
  cursor: pointer;
  margin: 20px 0 10px;
  transition: all 0.2s ease;
}

.a-list:hover {
  color: rgb(3, 94, 3);
}

.else {
  margin-top: 50px;
}

.sort-search {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 110px;
}

.select {
  padding: 5px 10px;
  border-radius: 7px;
  border: 1px solid green;
}

.search {
  width: 400px;
  height: auto;
  padding: 10px 15px;
  border-radius: 7px;
  border: 1px solid green;
}

.entranceModal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.module {
  width: 1200px;
  height: 600px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.module form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.module form input {
  width: 800px;
  height: auto;
  padding: 10px 15px;
  border-radius: 7px;
  margin-bottom: 15px;
  border: 1px solid green;
}

.module form div {
  display: flex;
  justify-content: end;
}

.btn-form-primary {
  width: auto;
  height: auto;
  background: green;
  color: white;
  padding: 10px 25px;
  border-radius: 7px;
  border: none;
  font-size: 18px;
  margin-right: 30px;
  cursor: pointer;
}

.btn-form-danger {
  width: auto;
  height: auto;
  background: red;
  color: white;
  padding: 10px 25px;
  border-radius: 7px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.interests {
  width: 400px;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 0px;
}
